.cover {
    width: 100%;
    height: 100vh;
    background-image: url("/pizzaLanding/img/cover-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    align-items: center;
}

/* затемнение */
.cover::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(40, 1, 49, 0.3);
}

/* контент */
.cover__content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
}

.cover__title {
    font-family: "Open Sans 700";
    font-size: 48px;
    margin-bottom: 20px;
}

.cover__subtitle {
    font-family: "Open Sans Regular";
    font-size: 20px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.cover__btn {
    display: inline-block;
    padding: 12px 26px;
    background: var(--color-basic-2);
    color: #fff;
    font-family: "Open Sans 600";
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.cover__btn:hover {
    background: var(--color-basic-2_special-1);
}
