.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--color-basic-3);
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Контейнер хедера */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* ЛОГО */
.header__logo {
    font-family: "Open Sans 700";
    font-size: 24px;
    color: var(--color-basic-1);
    letter-spacing: 1px;
}

/* НАВИГАЦИЯ */
.header__nav {
    display: flex;
    gap: 32px;
}

/* ССЫЛКИ */
.header__link {
    font-family: "Open Sans 600";
    font-size: 16px;
    color: var(--color-basic-1);
    transition: 0.3s;
}

.header__link:hover {
    color: var(--color-basic-2);
}
