/* ======== PARALLAX BASE ======== */

.parallax {
  position: relative;
  z-index: 5;
  background-attachment: fixed;
}

/* фоновая картинка */
.parallax_cute {
  background-image: url(../../img/parallax/parallax-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

/* маска поверх фона */
.parallax__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

/* цвет маски */
.parallax__mask_special-1 {
  background-color: rgba(0, 0, 0, 0.45); /* мягкое затемнение */
}
/* контент — над маской */
.parallax__main {
  position: relative;
  z-index: 7;
}
