/* Regular 400 */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans/open-sans-400.woff2") format("woff2");
}

/* Italic 400 */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/OpenSans/open-sans-400italic.woff2") format("woff2");
}

/* 600 */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/OpenSans/open-sans-600.woff2") format("woff2");
}

/* 600 italic */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/OpenSans/open-sans-600italic.woff2") format("woff2");
}

/* 700 */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/OpenSans/open-sans-700.woff2") format("woff2");
}

/* 700 italic */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/OpenSans/open-sans-700italic.woff2") format("woff2");
}
