/* normalize */
@import "normalize.css";

/* переменные */
@import "variables.css";
@import "colors.css";

/* шрифты */
@import "fonts-v2.css";

/* глобальные стили */
@import "globalStyles.css";

/* блоки */
@import "blocks/body.css";
@import "blocks/header.css";
@import "blocks/main.css";

/* секции */
@import "blocks/sections/cover.css";
@import "blocks/sections/chips.css";
@import "blocks/sections/interior.css";
@import "blocks/sections/reviews.css";
@import "blocks/sections/reservation.css";
@import "blocks/hamburger.css";
@import "blocks/nav-list.css";

/* анимации */
@import "animations.css";

@import "blocks/menu.css";        
@import "blocks/menu-item.css";

